altgraph==0.16.1
appnope==0.1.0
astroid==2.2.5
attrs==19.3.0
Automat==20.2.0
backcall==0.1.0
beautifulsoup4==4.9.1
certifi==2020.4.5.2
cffi==1.14.0
chardet==3.0.4
Click==7.0
constantly==15.1.0
cryptography==39.0.1
cssselect==1.1.0
decorator==4.4.0
Flask==1.1.1
hyperlink==19.0.0
idna==2.9
incremental==17.5.0
ipython==7.16.3
ipython-genutils==0.2.0
isort==4.3.21
itsdangerous==1.1.0
jedi==0.15.1
Jinja2==2.11.3
lazy-object-proxy==1.4.1
lxml==4.6.5
macholib==1.11
MarkupSafe==1.1.1
mccabe==0.6.1
parsel==1.6.0
parso==0.5.1
pexpect==4.7.0
pickleshare==0.7.5
prompt-toolkit==2.0.9
Protego==0.1.16
ptyprocess==0.6.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
PyDispatcher==2.0.5
Pygments==2.7.4
PyHamcrest==2.0.2
PyInstaller>=3.6
pylint==2.3.1
pyOpenSSL==19.1.0
queuelib==1.5.0
requests==2.23.0
Scrapy==2.5.1
service-identity==18.1.0
six==1.12.0
soupsieve==2.0.1
traitlets==4.3.2
Twisted==22.1.0
typed-ast==1.4.0
urllib3==1.26.5
virtualenv==16.7.5
w3lib==1.22.0
wcwidth==0.1.7
Werkzeug==0.15.6
wrapt==1.11.2
zope.interface==5.1.0
